<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body class="bg-dark">
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <div class="alert alert-danger">
                <h1 class="alert-heading">[[${statusCode}]] - [[${statusReason}]]</h1>
                <!--<p class="lead" th:text="${errorMessage}"></p>-->
                <ul class="d-table mx-auto text-start">
                    <li th:each="message : ${errorMessage}" th:text="${message}"></li>
                </ul>
                <a th:href="@{/}" class="btn btn-danger" role="button">Back to the main page</a>
                <a th:onclick="history.back()" class="btn btn-warning" role="button">Back to the previous page</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>